* {
  box-sizing: border-box;
}
html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 1rem;
  text-align: center;
  color: lightcyan;
  background-color: darkred;
}

header h1 {
  margin: 0
}

footer {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: small;
  color: #fefefe;
  background-color: darkgrey;
}

footer a {
  color: #fefefe;
  text-decoration: none;
}

#app {
  width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-size: large;
  line-height: 160%;
  color: #2c3e50;
  background-color: #ffc;
}

.customer {
  text-align: left;
}

.invoice-items {
  margin: 1rem auto;
  width: 100%;
  line-height: 140%;
  text-align: left;
}

.invoice-items .number {
  text-align: right;
}

.invoice-items .total {
  font-weight: bold;
}

.invoice-items .total td {
  border-top: 1px solid #888;
}

.invoice-items .note {
  color: #666;
  line-height: normal;
  font-size: small;
}

.back {
  display: block;
  margin: 2rem 1rem 1rem;
  text-align: left;
  font-size: small;
}
